<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>My Anime Hub</h1>
        <nav>
            <a href="{{ url_for('index') }}">Hub</a>
            <form action="{{ url_for('search') }}" method="get" class="search-form">
                <input type="text" name="q" placeholder="Search...">
                <button type="submit">Search</button>
            </form>
            <a href="https://t.me/bot_capt" target="_blank">Telegram</a>
            <a href="https://send.monobank.ua/jar/JVZttKh8B" target="_blank">Donate</a>
        </nav>
    </header>

    <main>
        <h2>All Anime</h2>
        <div class="anime-list">
            {% for anime in anime_list %}
                <div class="anime-item">
                    <a href="{{ url_for('anime_detail', title=anime['title'].replace(' ', '-').lower()) }}">
                        <img src="{{ url_for('static', filename='images/' + anime['cover_image']) }}" alt="{{ anime['title'] }} cover" class="anime-cover">
                        <h2>{{ anime['title'] }}</h2>
                    </a>
                </div>
            {% endfor %}
        </div>
    </main>

    <footer>
        <p>&copy; 2024 AnimeHub</p>
    </footer>
</body>
</html>
